numpy
sklearn
matplotlib
umap-learn
pandas
seaborn
jupyter
tabulate
pytorch-lightning
torch
torchvision
ffmpeg
ray[tune]
opencv-python
jupyter-notebooks/eye_tracking.ipynb
scikit-image
easydict
Pillow